:root {
  --primary: #e4b363;
  --secondary: #ef6461;
  --tertiary: #fffd8c;
  --quaternary: #e0dfd5;
  --quinary: #fcf83b;
  --light: #e8e9eb;
  --dark: #313638;
  --border-radius: 1.5rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: var(--primary);
  line-height: 1.5;
  font-size: 16px;
  background-image: url('../images/d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-position: calc(100% - 10%) calc(100% - 15%);



  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.65);
}

.section {

}

.title {
  font-family: 'Mountains of Christmas', serif;
}

.navbar a.navbar-item {
    color: #ffffff; /* black text for visibility */
}

.navbar {
    --bulma-navbar-background-color: #ffffff; /* white background */
    --bulma-navbar-h: var(--bulma-scheme-h);
    --bulma-navbar-s: var(--bulma-scheme-s);
    --bulma-navbar-l: var(--bulma-scheme-main-l);
    --bulma-navbar-box-shadow-size: 0 0.125em 0 0;
    --bulma-navbar-box-shadow-color: var(--bulma-background);
}


.navbar-title {
  font-family: 'Mountains of Christmas', serif;
  font-size: 45px;
  font-weight: 500;
}

.group-modal-title {
  font-family: 'Mountains of Christmas', serif;
}

footer {
  background-color: white;
  margin-bottom: -5%;
}


.logo {
  font-size: 3.5rem;
}

.hoverable-row:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

/*Copying link CSS*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.buttonSpacer{
  margin: 4px 0px 10px 8px;
}

.pageFooter{
  background-color:#E23D28;
  color: white;

}

.formSettings{
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  padding: 20px;
}

th, td {
  max-width: 25%;
  font-size: 10px; /* Font size */
  padding: 5px; /* Padding */
  font-weight: normal; /* Font weight */
  width: 25%;

}


.iLink{
  font-size: 4px;
  overflow-x: auto; /* Enable horizontal scrolling */
}