:root {
  --primary: #e4b363;
  --secondary: #ef6461;
  --tertiary: #fffd8c;
  --quaternary: #e0dfd5;
  --quinary: #fcf83b;
  --light: #e8e9eb;
  --dark: #313638;
  --border-radius: 1.5rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: var(--primary);
  line-height: 1.5;
  font-size: 16px;
  background-image: url('../images/Christmas-Silhouette-Santa-Claus.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.65);
}

.title {
  font-family: 'Mountains of Christmas', serif;
}


.navbar-title {
  font-family: 'Mountains of Christmas', serif;
  font-size: 45px;
  font-weight: 500;
}

.group-modal-title {
  font-family: 'Mountains of Christmas', serif;
}

footer {
  background-color: white;
}


.logo {
  font-size: 3.5rem;
}

.hoverable-row:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

/*Copying link CSS*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.buttonSpacer{
  margin: 4px 0px 10px 8px;
}